# IMPORTING LIBRARIES

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# TO READ CSV FILE

In [4]:
read=pd.read_csv("bank.csv")
print(read)

        ID  ZIP Code  Personal Loan  Age  Experience  Income  Family  CCAvg  \
0        1     91107              0   25           1      49       4    1.6
1        2     90089              0   45          19      34       3    1.5
2        3     94720              0   39          15      11       1    1.0
3        4     94112              0   35           9     100       1    2.7
4        5     91330              0   35           8      45       4    1.0
...    ...       ...            ...  ...         ...     ...     ...    ...
4995  4996     92697              0   29           3      40       1    1.9
4996  4997     92037              0   30           4      15       4    0.4
4997  4998     93023              0   63          39      24       2    0.3
4998  4999     90034              0   65          40      49       3    0.5
4999  5000     92612              0   28           4      83       3    0.8

      Education  Mortgage  Securities Account  CD Account  Online  CreditCard
0             1         0                   1           0       0           0
1             1         0                   1           0       0           0
2             1         0                   0           0       0           0
3             2         0                   0           0       0           0
4             2         0                   0           0       0           1
...         ...       ...                 ...         ...     ...         ...
4995          3         0                   0           0       1           0
4996          1        85                   0           0       1           0
4997          3         0                   0           0       0           0
4998          2         0                   0           0       1           0
4999          1         0                   0           0       1           1

[5000 rows x 14 columns]

# THE VALUE IN EXPERIENCE COLUMN LESS THAN ZERO IS REPLACED TO ZERO

In [5]:
read['Income'].describe()

count    5000.000000
mean       73.774200
std        46.033729
min         8.000000
25%        39.000000
50%        64.000000
75%        98.000000
max       224.000000
Name: Income, dtype: float64

In [6]:
read['Family'].describe()

count    5000.000000
mean        2.396400
std         1.147663
min         1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         4.000000
Name: Family, dtype: float64

In [7]:
read['CCAvg'].describe()

count    5000.000000
mean        1.937938
std         1.747659
min         0.000000
25%         0.700000
50%         1.500000
75%         2.500000
max        10.000000
Name: CCAvg, dtype: float64

In [8]:
read['Education'].describe()

count    5000.000000
mean        1.881000
std         0.839869
min         1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         3.000000
Name: Education, dtype: float64

In [9]:
read['Mortgage'].describe()

count    5000.000000
mean       56.498800
std       101.713802
min         0.000000
25%         0.000000
50%         0.000000
75%       101.000000
max       635.000000
Name: Mortgage, dtype: float64

In [10]:
read['Age'].describe()

count    5000.000000
mean       45.338400
std        11.463166
min        23.000000
25%        35.000000
50%        45.000000
75%        55.000000
max        67.000000
Name: Age, dtype: float64

In [11]:
read['Experience'].describe()

count    5000.000000
mean       20.104600
std        11.467954
min        -3.000000
25%        10.000000
50%        20.000000
75%        30.000000
max        43.000000
Name: Experience, dtype: float64

In [12]:
read['Securities Account'].describe()

count    5000.000000
mean        0.104400
std         0.305809
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Securities Account, dtype: float64

In [13]:
read['CD Account'].describe()

count    5000.00000
mean        0.06040
std         0.23825
min         0.00000
25%         0.00000
50%         0.00000
75%         0.00000
max         1.00000
Name: CD Account, dtype: float64

In [14]:
read['Online'].describe()

count    5000.000000
mean        0.596800
std         0.490589
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: Online, dtype: float64

In [15]:
read['CreditCard'].describe()

count    5000.000000
mean        0.294000
std         0.455637
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: CreditCard, dtype: float64

In [16]:
read['Experience'].values[read['Experience'].values < 0 ] = 0

# ID AND ZIP CODE IS NOT REQUIRED FOR TRAINING THE MODEL

# STORES ALL ENTERIES FROM THIRD ROW TILL END FROM THE EXCEL SHEET(ie FROM AGE TO EXPERIENCE)

In [17]:
X=read.iloc[:,3:]

In [18]:
y=read.iloc[:,2]

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

logisticRegr = LogisticRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
logisticRegr.fit(X_train, y_train)
predictions = logisticRegr.predict(X_test)
score = logisticRegr.score(X_test, y_test)
print(score)

0.9506666666666667

C:\Users\rohit\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [20]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, predictions)
print(cm)

[[1350   22]
 [  52   76]]

In [21]:
import pickle

filename = 'bank_modelling.sav'
pickle.dump(logisticRegr, open(filename, 'wb'))